## Zillow Notebook:

In [1]:
%matplotlib inline
%load_ext autoreload
%autoreload 2

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings("ignore")

from math import sqrt

from sklearn.metrics import mean_squared_error, explained_variance_score
from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import RFE
from sklearn.preprocessing import StandardScaler


import env
import zillow_wrangle
import split_scale
import evaluate
import explore
import feature

## 1. Acquiring data

In [2]:
query = '''
SELECT *
FROM properties_2017
LEFT JOIN predictions_2017 USING(parcelid)
WHERE propertylandusetypeid NOT IN (246, 247, 248, 46, 47, 265, 267, 290, 291)
AND transactiondate BETWEEN "2017-05-01" AND "2017-06-31"''
AND bathroomcnt >= 1
AND bedroomcnt >= 1
'''

In [3]:
zillow_df = zillow_wrangle.get_data_from_sql()

#### ssssooo many NaN values...

In [4]:
zillow_df.head()

,parcelid,id,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,...,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock,id,logerror,transactiondate
0,11289917,2061546,1.0,NaN,NaN,2.0,3.0,None,6.0,2.0,...,136104.0,2016.0,27214.0,2319.90,Y,15.0,6.037901e+13,1248,-0.362001,2017-06-23
1,11705026,1834372,NaN,NaN,NaN,1.0,2.0,None,6.0,1.0,...,35606.0,2016.0,23624.0,543.69,None,NaN,6.037232e+13,1772,-0.146056,2017-06-30
2,14269464,1923117,NaN,NaN,NaN,3.0,4.0,None,NaN,3.0,...,880456.0,2016.0,445569.0,9819.72,None,NaN,6.059064e+13,2028,0.021085,2017-06-01
3,11389003,2121349,NaN,NaN,NaN,2.0,3.0,None,6.0,2.0,...,614000.0,2016.0,449000.0,7673.19,None,NaN,6.037703e+13,3273,-0.325393,2017-06-01
4,11967869,2093710,NaN,NaN,NaN,1.0,2.0,None,5.0,1.0,...,274237.0,2016.0,191821.0,3267.47,None,NaN,6.037185e+13,3429,-0.005566,2017-06-29

### 1.0.1 cleaning the Data

##### dropping columns

In [5]:
zillow_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20802 entries, 0 to 20801
Data columns (total 62 columns):
parcelid                        20802 non-null int64
id                              20802 non-null int64
airconditioningtypeid           6966 non-null float64
architecturalstyletypeid        49 non-null float64
basementsqft                    11 non-null float64
bathroomcnt                     20802 non-null float64
bedroomcnt                      20802 non-null float64
buildingclasstypeid             0 non-null object
buildingqualitytypeid           13153 non-null float64
calculatedbathnbr               20796 non-null float64
decktypeid                      175 non-null float64
finishedfloor1squarefeet        1667 non-null float64
calculatedfinishedsquarefeet    20801 non-null float64
finishedsquarefeet12            20751 non-null float64
finishedsquarefeet13            7 non-null float64
finishedsquarefeet15            2 non-null float64
finishedsquarefeet50            1667 non-null float64
finishedsquarefeet6             41 non-null float64
fips                            20802 non-null float64
fireplacecnt                    2375 non-null float64
fullbathcnt                     20796 non-null float64
garagecarcnt                    7213 non-null float64
garagetotalsqft                 7213 non-null float64
hashottuborspa                  480 non-null float64
heatingorsystemtypeid           13582 non-null float64
latitude                        20802 non-null float64
longitude                       20802 non-null float64
lotsizesquarefeet               18550 non-null float64
poolcnt                         4622 non-null float64
poolsizesum                     268 non-null float64
pooltypeid10                    138 non-null float64
pooltypeid2                     342 non-null float64
pooltypeid7                     4277 non-null float64
propertycountylandusecode       20802 non-null object
propertylandusetypeid           20802 non-null float64
propertyzoningdesc              13232 non-null object
rawcensustractandblock          20802 non-null float64
regionidcity                    20414 non-null float64
regionidcounty                  20802 non-null float64
regionidneighborhood            8191 non-null float64
regionidzip                     20789 non-null float64
roomcnt                         20802 non-null float64
storytypeid                     11 non-null float64
threequarterbathnbr             2930 non-null float64
typeconstructiontypeid          51 non-null float64
unitcnt                         13244 non-null float64
yardbuildingsqft17              688 non-null float64
yardbuildingsqft26              23 non-null float64
yearbuilt                       20785 non-null float64
numberofstories                 4882 non-null float64
fireplaceflag                   43 non-null float64
structuretaxvaluedollarcnt      20780 non-null float64
taxvaluedollarcnt               20802 non-null float64
assessmentyear                  20802 non-null float64
landtaxvaluedollarcnt           20802 non-null float64
taxamount                       20801 non-null float64
taxdelinquencyflag              677 non-null object
taxdelinquencyyear              677 non-null float64
censustractandblock             20728 non-null float64
id                              20802 non-null int64
logerror                        20802 non-null float64
transactiondate                 20802 non-null object
dtypes: float64(54), int64(3), object(5)
memory usage: 9.8+ MB

In [6]:
zillow_df = zillow_df.drop(columns=['fireplaceflag','yardbuildingsqft26','yardbuildingsqft17','typeconstructiontypeid','threequarterbathnbr','storytypeid','pooltypeid7','pooltypeid2','pooltypeid10','poolsizesum','poolcnt','heatingorsystemtypeid','hashottuborspa','fireplacecnt','finishedsquarefeet6','finishedsquarefeet50','finishedsquarefeet15','finishedsquarefeet13','finishedfloor1squarefeet','calculatedbathnbr','buildingqualitytypeid', 'airconditioningtypeid', 'buildingclasstypeid', 'basementsqft', 'decktypeid', 'architecturalstyletypeid'])

In [7]:
zillow_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20802 entries, 0 to 20801
Data columns (total 36 columns):
parcelid                        20802 non-null int64
id                              20802 non-null int64
bathroomcnt                     20802 non-null float64
bedroomcnt                      20802 non-null float64
calculatedfinishedsquarefeet    20801 non-null float64
finishedsquarefeet12            20751 non-null float64
fips                            20802 non-null float64
fullbathcnt                     20796 non-null float64
garagecarcnt                    7213 non-null float64
garagetotalsqft                 7213 non-null float64
latitude                        20802 non-null float64
longitude                       20802 non-null float64
lotsizesquarefeet               18550 non-null float64
propertycountylandusecode       20802 non-null object
propertylandusetypeid           20802 non-null float64
propertyzoningdesc              13232 non-null object
rawcensustractandblock          20802 non-null float64
regionidcity                    20414 non-null float64
regionidcounty                  20802 non-null float64
regionidneighborhood            8191 non-null float64
regionidzip                     20789 non-null float64
roomcnt                         20802 non-null float64
unitcnt                         13244 non-null float64
yearbuilt                       20785 non-null float64
numberofstories                 4882 non-null float64
structuretaxvaluedollarcnt      20780 non-null float64
taxvaluedollarcnt               20802 non-null float64
assessmentyear                  20802 non-null float64
landtaxvaluedollarcnt           20802 non-null float64
taxamount                       20801 non-null float64
taxdelinquencyflag              677 non-null object
taxdelinquencyyear              677 non-null float64
censustractandblock             20728 non-null float64
id                              20802 non-null int64
logerror                        20802 non-null float64
transactiondate                 20802 non-null object
dtypes: float64(29), int64(3), object(4)
memory usage: 5.7+ MB

#### gotta drop more!

In [8]:
zillow_df = zillow_df.drop(columns=['lotsizesquarefeet','censustractandblock','fullbathcnt','finishedsquarefeet12','propertycountylandusecode','propertylandusetypeid','parcelid', 'fips', 'garagecarcnt', 'garagetotalsqft', 'latitude', 'longitude', 'unitcnt', 'numberofstories', 'taxdelinquencyflag','taxdelinquencyyear' ])

In [9]:
zillow_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20802 entries, 0 to 20801
Data columns (total 20 columns):
id                              20802 non-null int64
bathroomcnt                     20802 non-null float64
bedroomcnt                      20802 non-null float64
calculatedfinishedsquarefeet    20801 non-null float64
propertyzoningdesc              13232 non-null object
rawcensustractandblock          20802 non-null float64
regionidcity                    20414 non-null float64
regionidcounty                  20802 non-null float64
regionidneighborhood            8191 non-null float64
regionidzip                     20789 non-null float64
roomcnt                         20802 non-null float64
yearbuilt                       20785 non-null float64
structuretaxvaluedollarcnt      20780 non-null float64
taxvaluedollarcnt               20802 non-null float64
assessmentyear                  20802 non-null float64
landtaxvaluedollarcnt           20802 non-null float64
taxamount                       20801 non-null float64
id                              20802 non-null int64
logerror                        20802 non-null float64
transactiondate                 20802 non-null object
dtypes: float64(16), int64(2), object(2)
memory usage: 3.2+ MB

#### lets lose these null values!

In [10]:
zillow_df.isnull().sum()

id                                  0
bathroomcnt                         0
bedroomcnt                          0
calculatedfinishedsquarefeet        1
propertyzoningdesc               7570
rawcensustractandblock              0
regionidcity                      388
regionidcounty                      0
regionidneighborhood            12611
regionidzip                        13
roomcnt                             0
yearbuilt                          17
structuretaxvaluedollarcnt         22
taxvaluedollarcnt                   0
assessmentyear                      0
landtaxvaluedollarcnt               0
taxamount                           1
id                                  0
logerror                            0
transactiondate                     0
dtype: int64

In [11]:
model_df = zillow_df
model_df = model_df.drop(columns=["propertyzoningdesc", 'regionidcity', 'regionidneighborhood', 'yearbuilt'])
model_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20802 entries, 0 to 20801
Data columns (total 16 columns):
id                              20802 non-null int64
bathroomcnt                     20802 non-null float64
bedroomcnt                      20802 non-null float64
calculatedfinishedsquarefeet    20801 non-null float64
rawcensustractandblock          20802 non-null float64
regionidcounty                  20802 non-null float64
regionidzip                     20789 non-null float64
roomcnt                         20802 non-null float64
structuretaxvaluedollarcnt      20780 non-null float64
taxvaluedollarcnt               20802 non-null float64
assessmentyear                  20802 non-null float64
landtaxvaluedollarcnt           20802 non-null float64
taxamount                       20801 non-null float64
id                              20802 non-null int64
logerror                        20802 non-null float64
transactiondate                 20802 non-null object
dtypes: float64(13), int64(2), object(1)
memory usage: 2.5+ MB

In [12]:
model_df.dropna(axis=0, inplace=True)

model_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20765 entries, 0 to 20801
Data columns (total 16 columns):
id                              20765 non-null int64
bathroomcnt                     20765 non-null float64
bedroomcnt                      20765 non-null float64
calculatedfinishedsquarefeet    20765 non-null float64
rawcensustractandblock          20765 non-null float64
regionidcounty                  20765 non-null float64
regionidzip                     20765 non-null float64
roomcnt                         20765 non-null float64
structuretaxvaluedollarcnt      20765 non-null float64
taxvaluedollarcnt               20765 non-null float64
assessmentyear                  20765 non-null float64
landtaxvaluedollarcnt           20765 non-null float64
taxamount                       20765 non-null float64
id                              20765 non-null int64
logerror                        20765 non-null float64
transactiondate                 20765 non-null object
dtypes: float64(13), int64(2), object(1)
memory usage: 2.7+ MB

#### we end our conquest with 20,765 rows and 16 columns!

### 2.0 creating MVP

#### 2.1 split our data

In [13]:
train, test = split_scale.split_my_data(model_df)

In [14]:
X_train = train[['bathroomcnt', 'bedroomcnt', 'calculatedfinishedsquarefeet']]
y_train = train[['taxvaluedollarcnt']]
X_test = test[['bathroomcnt', 'bedroomcnt', 'calculatedfinishedsquarefeet']]
y_test = test[['taxvaluedollarcnt']]

#### 2.2.1 scale our data

In [15]:
#using the standard scaler from sklearn
scaler, X_train, X_test = split_scale.standard_scaler(X_train, X_test)

In [16]:
scaler, y_train, y_test = split_scale.standard_scaler(y_train, y_test)

In [17]:
X_train.shape, y_train.shape

((16612, 3), (16612, 1))

In [18]:
X_train.head()

       bathroomcnt  bedroomcnt  calculatedfinishedsquarefeet
2061     -1.383554   -1.037843                     -1.100181
11994     0.718188    0.955871                      0.787003
15669     3.870800    0.955871                      2.433224
15414    -1.383554   -1.037843                     -0.910396
14455     0.192752    0.955871                      0.837114

feature selection

#### 2.3.0 Initialize and fit our linear regression model

In [19]:
lm = LinearRegression()

# Fitting my data to the multiple regression model
lm.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

### 2.3.1 We make our predictions

In [20]:
y_train['yhat_lm'] = lm.predict(X_train)

evaluate regression errors

In [21]:
y_train.head()

       taxvaluedollarcnt   yhat_lm
2061           -0.269129 -0.651891
11994           0.239301  0.394252
15669          -0.215869  1.812346
15414          -0.108193 -0.521645
14455           0.229926  0.380589

In [22]:
errors_df = evaluate.regression_errors(y_train.taxvaluedollarcnt, y_train.yhat_lm, y_train)

errors_df

  metric  model_values
0    SSE   9920.147995
1    ESS  16612.000000
2    TSS  26532.147995
3    MSE      0.597168
4   RMSE      0.772766
5    R^2      0.626108

## Use our model on our test data and see how we do!

In [23]:
y_test['yhat_lm'] = lm.predict(X_test)

In [26]:
y_test.head()

       taxvaluedollarcnt   yhat_lm
12905          -0.587010 -0.413086
19631           0.060402  0.149858
7486            0.958664  1.050723
7946           -0.630500 -0.202351
9618           -0.455897 -0.619695

In [24]:
test_errors = evaluate.regression_errors(y_test.taxvaluedollarcnt, y_test.yhat_lm, y_test)

test_errors

  metric  model_values
0    SSE   3153.802440
1    ESS   4931.755990
2    TSS   8085.558430
3    MSE      0.759403
4   RMSE      0.871438
5    R^2      0.609946